{% load i18n %}

{% if available_proctoring_services %}
{% if available_proctoring_services|length > 1 %}
<div class="field">
    {% trans "Course team have to specified Proctoring Service before you will have ability to pass this exam" %}
</div>
{% else %}
<div class="field">
    <label class="field-label" for="proctoring_service_select">{% trans "Select Proctoring Service" %}</label>
    <select class="field-input input-select has-error" id="proctoring_service_select" name="proctoring_service_select">
        {% if available_proctoring_services|length > 1 %}
            <option value="">{% trans "- Choose one -"%}</option>
        {% endif %}
        {% for service in available_proctoring_services %}
            <option value="{{service}}">{{service}}</option>
        {% endfor %}
    </select>
</div>
{% endif %}
<br>
{% endif %}
